body {
    background-color: black;
}

main {
    background-color: antiquewhite;
    max-width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.stopwatch-wrapper {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.time {
    font-size: 5.3rem;
}

.time > span {
    font-size: 2.5rem;
    position: relative;
    right: 1rem;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}