body {
    background-color: black;
}

main {
    background-color: antiquewhite;
    max-width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

h1 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.stopwatch-wrapper {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.time-values {
    display: flex;
    gap: 1rem;
    max-height: 6rem;
    margin-bottom: 2rem;
    position: relative;
}

.time {
    font-size: 5.3rem;
}

.time + span {
    align-self: flex-end;
    color: white;
    font-size: 2.5rem;
    position: relative;
    top: 10px;
    right: 10px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.buttons {
    display: flex;
    gap: 10%;
}

button {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 1.5rem;
    border: 2px solid antiquewhite;
    cursor: pointer;
}

.start {
    background-color: #238032;
    color: #4CD964;
    box-shadow: 0 0 0 3px #238032;
}

.stop {
    background-color: #FF3B30;
    color: #eeebea;
    box-shadow: 0 0 0 3px #FF3B30;
}

.reset {
    background-color: black;
    color: white;
    box-shadow: 0 0 0 3px black;
}

.disabled {
    cursor: not-allowed;
    background-color: #E0E0E0;
    color: #B0B0B0;
    box-shadow: 0 0 3px #E0E0E0;
}